<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headerfiles-layout">
    <th:block th:include="navbar :: headerfiles-navbar"></th:block>
    <th:block th:include="sidebar :: headerfiles-sidebar"></th:block>
</head>

<body th:fragment="layout-body">


    <div th:insert="navbar :: nav-body"></div>
    <div th:insert="sidebar :: sidebar-body"></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>