<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
    </head>

    <body>
        <nav class="bg-light border navbar navbar-expand-md navbar-light" th:fragment="layout">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><span class="green">Helpme</span></a>
            </div>
        </nav>
    </body>
</html>